body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 400px;
    min-height: 50px;
    margin: 2% auto;
    border: 3px solid black;
}
body > div {
    display: flex;
    justify-content: space-around;
    margin: 3%;
    padding: 3%;
    font-family: monospace;
    font-size: 1.4em;
}